.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url("/images/footer.svg ");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 150px;
  margin-bottom: 0;
}

.img_footer {
  display: grid;
  max-width: 100vw;
}

.image {
  grid-area: 1/1;
  width: 100%;
}

.image1,
.image2,
.image3 {
  object-fit: cover;
  align-self: center;
  justify-self: center;
}

.image1 {
  margin-top: 6rem;
  margin-left: 1rem;
  width: 45%;
}

.image2 {
  margin-top: 1rem;
  width: 100%;
}

.image3 {
  margin-top: 6rem;
  width: 40%;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 300px;
  }

  .image1 {
    margin-top: 6rem;
    margin-left: 0;
    margin-right: 6rem;
    width: 30%;
  }

  .image2 {
    margin-top: 2rem;
    width: 55%;
    margin-left: 0;
  }

  .image3 {
    margin-top: 6rem;
    margin-left: 5rem;
    width: 30%;
  }
}

/* #footer-background {
  background-image: url("/images/footer.svg ");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100px;
  position: relative;
  z-index: 1; 
} */

/* footer {
  display: flex;
  justify-content: flex-end; 
  align-items: flex-end; 
  min-height: 100vh;
} */

/* .image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
  position: relative;
  z-index: 2; } */

/* .image {
  display: block;
  width: 200%;
  height: auto;
  max-height: 200px;
  position: absolute;
  top: 0; 
  left: 0; 
} */

/* .image1 {
  left: 40px;
  top: -40px;
}

.image2 {
  left: 154px;
  top: -63px;
  width: 500%;
}
.image3 {
  left: 330px;
  top: -40px;
} */

/* @media screen and (min-width: 800px) {
  #footer-background {
    width: 100%;
    height: 300px;
    z-index: 1;
    margin-left: -20px;
  } */

/*  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    position: none;
    z-index: 2; 
  } */
/*  .image1 {
    left: 100px;
    top: -160px;
    width: 800%;
  }

  .image2 {
    left: 630px;
    top: -230px;
    width: 1500%;
  }
  .image3 {
    left: 1300px;
    top: -160px;
    width: 600%;
  } */
