#footer-background {
  background-image: url("img/footer.svg");
  background-size: cover; /* You can adjust this property based on your image and layout preferences */
  background-repeat: no-repeat;
  background-position: center center;
  width: 166.702px;
  height: 372.185px;
}
