* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.img_background {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.7;
  margin-top: 0;
}

/* animation */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Zoom in by 20% at the midpoint of the animation */
  }
  100% {
    transform: scale(1); /* Zoom out completely at the end of the animation */
  }
}

/* Apply the animation to the img element */
.img_forside {
  animation: bounce 1s infinite; /* Adjust the duration and iteration as needed */
}

/* General */
body {
  background-color: #faf2e8;
  max-width: 1800px;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
}

p {
  color: black;
  font-family: Helvetica, sans-serif;
  margin-top: 20px;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  color: #1f1f1f;
  font-family: Helvetica, sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  color: #2b465e;
  font-size: 2rem;
  margin-top: 3rem;
}

main {
  margin-bottom: 70px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    margin-top: 7rem;
  }

  main {
    margin-bottom: 200px;
  }
}

/* Navbar */

header {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #faf2e8;
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
  width: 50%;
}
@media screen and (min-width: 800px) {
  header {
    width: 15%;
  }
}
/* .logo {
  width: 27%;
  height: auto;
  display: block;
  padding-left: 20px;
  justify-content: center;
} */

.logo_2 {
  width: 85%;
  height: auto;
  display: block;
  padding-left: 20px;
  margin-right: 0;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.centered-content {
  display: flex;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  padding: 10px;
  color: #2b465e;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  margin-top: 4rem;
}

.menu a:hover {
  color: #dab24f;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #2b465e;
  margin-bottom: 5px;
}

.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .logo {
    width: 55%;
    padding-left: 10px;
    margin: 0 auto;
  }
  .menu {
    display: none;
  }

  .burger {
    display: block;
    padding-left: 10px;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .menu {
    display: block;
    background-color: #faf2e8;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 16px;
  }
}
/* Line */

.separator {
  width: 100vw;
  border-top: 5px solid #2b465e;
  /*  margin: 20px 0; */
}
/* Paragraph */

.p_menu_small {
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
}

/* Images */

.img_menu {
  position: relative;
  align-self: stretch;
  width: 80%;
  display: block;
  margin: 2rem auto;
  margin-top: 5rem;
  z-index: -10; /* Lower z-index for img_menu */
}

.img_planter {
  aspect-ratio: 3/4;
  align-self: stretch;
  display: block;
  margin: -2rem auto; /* Use a negative margin to overlap img_menu */
  margin-top: 3rem; /* Adjust the top margin to control the overlap */
  z-index: 2; /* Higher z-index for img_planter to place it on top */
}

@media screen and (min-width: 768px) {
  .img_menu_1 {
    width: 50%;
    margin-top: 0;
  }

  .img_menu {
    margin-top: 0;
  }
}

/* Grids */

.wrapper {
  display: grid;
  justify-content: center;
}

section {
  display: inline-grid;
  max-width: 50vw;
}
.img_forside {
  object-fit: cover;
  width: 73%;
  align-self: center;
  justify-self: center;
}

.circle,
.img_forside {
  grid-area: 1/1;
}

.circle {
  border-radius: 50%;
  background-color: #ebdfd0;
  aspect-ratio: 1/1;
  width: 100%;
  margin-top: 2rem;
}

@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 100px;
    gap: 100px;
  }

  .circle {
    margin-top: 0;
  }
}
