* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
.background-info {
  background-image: url("/images/background-info.svg");
  background-size: cover; /* Adjust this property to control how the image is sized */
  background-repeat: no-repeat;
  background-position: center center;
  /* Optionally, you can set a background color in case the image doesn't load or cover the entire section */
  /* Set the height of the section to ensure the background image is visible */
  width: 1705px;
  height: 887px;
  scale: 70%;
  margin-left: -90px;
}
.vidste-du {
  background-color: #873938;
  padding-top: 20px;
  padding-bottom: 20px;
}
p {
  color: #faf2e8;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 2rem;
}

h3 {
  color: black;
  font-family: Helvetica, sans-serif;
  font-size: 2.5rem;
  text-align: left;
  padding-left: 20px;
}
.img_info {
  object-fit: cover;
  width: 90%;
  align-self: center;
  justify-self: center;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding-top: 40px;
  margin: 0 auto;
}
.circle,
.img_info {
  grid-area: 1/1;
}
.circle {
  border-radius: 50%;
  background-color: #ebdfd0;
  aspect-ratio: 1/1;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .vidste-du {
    background-color: #873938;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: -200px;
  }
  p {
    color: #faf2e8;
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 3rem;
  }
  .grid-info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 40px;
  }

  .wrapper {
    display: grid;
    justify-content: center;
    margin-top: 80px;
    margin-left: 60px;
  }
  .img_info {
    object-fit: cover;
    width: 130%;
    align-self: center;
    justify-self: center;
    padding-left: 180px;
  }

  .circle,
  .img_info {
    grid-area: 1/1;
  }
  .circle {
    border-radius: 50%;
    background-color: #ebdfd0;
    aspect-ratio: 1/1;
    width: 100%;
  }
  h3 {
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 4rem;
    text-align: left;
    margin-right: 200px;
  }

  article > .wrapper {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  .wrapper2 {
    display: grid;
    justify-content: center;
  }

  .box-4 {
    display: grid;
    justify-content: center;
    margin: 5rem;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 800px) {
  .separator3 {
    margin-bottom: 5rem;
  }
  .separator2 {
    margin-top: 7rem;
  }
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .wrapper > .box-4 {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }

  .wrapper2 {
    grid-template-columns: repeat(8, 1fr);
  }

  .box-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .box-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  .box-3 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 9;
  }

  .circle,
  .img_info {
    grid-area: 1/1;
  }

  .circle {
    border-radius: 50%;
    background-color: #ebdfd0;
    aspect-ratio: 1/1;
    width: 100%;
    margin-top: 2rem;
  }
}

/* General */
body {
  background-color: #faf2e8;
  max-width: 1800px;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: #1f1f1f;
  font-family: Helvetica, sans-serif;
}

/* Navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #faf2e8;
  font-family: Helvetica, sans-serif;
}

/* .logo {
  width: 27%;
  height: auto;
  display: block;
  padding-left: 20px;
  justify-content: center;
} */

.logo_2 {
  width: 85%;
  height: auto;
  display: block;
  padding-left: 20px;
  margin-right: 0;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.centered-content {
  display: flex;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  padding: 10px;
  color: #2b465e;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  margin-top: 4rem;
}

.menu a:hover {
  color: #dab24f;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #2b465e;
  margin-bottom: 5px;
}

.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .logo {
    width: 55%;
    padding-left: 10px;
  }
  .menu {
    display: none;
  }

  .burger {
    display: block;
    padding-left: 10px;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .menu {
    display: block;
    background-color: #faf2e8;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 16px;
  }
}
/* Line */

.separator {
  width: 100vw;
  border-top: 5px solid #2b465e;
  /*  margin: 20px 0; */
}

.separator2 {
  width: 100vw;
  border-top: 10px solid #2b465e;
}

.separator3 {
  width: 100vw;
  border-top: 10px solid #2b465e;
  margin-bottom: 2rem;
}
