* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
.background-info {
  background-image: url("/images/background-info.svg");
  background-size: cover; /* Adjust this property to control how the image is sized */
  background-repeat: no-repeat;
  background-position: center center;
  /* Optionally, you can set a background color in case the image doesn't load or cover the entire section */
  /* Set the height of the section to ensure the background image is visible */
  width: 1705px;
  height: 887px;
  scale: 70%;
  margin-left: -90px;
}

#vidste-du {
  background-color: #873938;
  padding-top: 90px;
  padding-bottom: 90px;
}
/* General */
body {
  background-color: #faf2e8;
  max-width: 1800px;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
}

p {
  color: black;
  font-family: Helvetica, sans-serif;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #1f1f1f;
  font-family: Helvetica, sans-serif;
}

/* Navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #faf2e8;
  font-family: Helvetica, sans-serif;
}

/* .logo {
  width: 27%;
  height: auto;
  display: block;
  padding-left: 20px;
  justify-content: center;
} */

.logo_2 {
  width: 85%;
  height: auto;
  display: block;
  padding-left: 20px;
  margin-right: 0;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.centered-content {
  display: flex;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  padding: 10px;
  color: #2b465e;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  margin-top: 4rem;
}

.menu a:hover {
  color: #dab24f;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #2b465e;
  margin-bottom: 5px;
}

.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .logo {
    width: 55%;
    padding-left: 10px;
  }
  .menu {
    display: none;
  }

  .burger {
    display: block;
    padding-left: 10px;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .menu {
    display: block;
    background-color: #faf2e8;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 16px;
  }
}
/* Line */

.separator {
  width: 100vw;
  border-top: 5px solid #2b465e;
  /*  margin: 20px 0; */
}

.separator2 {
  width: 100vw;
  border-top: 10px solid #2b465e;
}

.separator3 {
  width: 100vw;
  border-top: 10px solid #2b465e;
  margin-bottom: 2rem;
}

/*  margin: 20px 0; */

/* Grids */

.wrapper {
  display: grid;
  justify-content: center;
  margin: 5rem;
}

.wrapper2 {
  display: grid;
  justify-content: center;
}

/* .cointainer {
  display: inline-grid;
  max-width: 50vw;
} */

.img_forside {
  object-fit: cover;
  width: 73%;
  align-self: center;
  justify-self: center;
  margin-right: 0;
}

.circle,
.img_forside {
  grid-area: 1/1;
}

.circle {
  border-radius: 50%;
  background-color: #ebdfd0;
  aspect-ratio: 1/1;
  width: 100%;
}

#vidste-du {
  padding: 1rem;
  width: 100%;
  height: 100%;
  margin-top: 3rem;
}
#vidste-du p {
  color: #fff;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .separator3 {
    margin-bottom: 5rem;
  }

  #vidste-du {
    margin-top: 10rem;
    height: 50%;
  }
  .wrapper {
    grid-template-columns: 1fr 0.2fr 1fr;
  }

  .wrapper2 {
    grid-template-columns: repeat(8, 1fr);
  }

  .box-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .box-2 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
  }

  .box-3 {
    grid-column-start: 5;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 9;
  }

  .circle {
    margin-top: 0;
  }
  .img_skov {
    width: 125.6%;
  }
}
