* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* #background-list { */
/*   border-radius: 50% 50% 0 0; /* Set border-radius to create a half-circle */
/*   background-color: #ebdfd0;
  aspect-ratio: 1/1.1;
  width: 100%;
  margin-top: 10rem;

  background-position: center center;
  background-size: cover; 

  /*   border-radius: 80%;
  background-color: #ebdfd0;
  aspect-ratio: 1/1.1;
  width: 100%;
  margin-top: 10rem;
  margin-left: 3rem;
  background-position: center center; */

/* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-size: cover; /* Adjust to your preference */
/* background-repeat: no-repeat;
  background-image: url("/images/backgound-list-blue.svg");
  background-position: center;
  width: 100%;  */

/* main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin: 0 auto;
  padding: 20px;
  width: 30%;
} */

body {
  padding: 0;
  margin: 0;
  background-image: url("/images/background-list.svg"); /* Replace with your background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #faf2e8;
  max-width: 1800px;
  font-family: Helvetica, sans-serif; /* Use a suitable font family */
}

/* Style the main container */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 180vh; /* Adjust to center content vertically */
}

/* animation */
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); /* Zoom in by 20% at the midpoint of the animation */
  }
  100% {
    transform: scale(1); /* Zoom out completely at the end of the animation */
  }
}

/* Apply the animation to the img element */
.image-illustration {
  animation: bounce 1s infinite; /* Adjust the duration and iteration as needed */
}

/* Create a 1-1 grid layout for the articles */
.grid-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px; /* Adjust the gap between items */
  padding: 20px;
  text-align: left;
}

/* Style the link and heading within each grid item */
.grid-item a {
  text-decoration: none;
  color: #333; /* Link text color */
}

.grid-item h3 {
  margin: 0;
}

/* General */
body {
  background-color: #faf2e8;
  max-width: 1800px;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
}

p {
  color: black;
  font-family: Helvetica, sans-serif;
  margin-top: 20px;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  color: #1f1f1f;
  font-family: Helvetica, sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  color: #2b465e;
  font-size: 2rem;
  margin-top: 3rem;
}

main {
  margin-bottom: 70px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    margin-top: 7rem;
  }

  main {
    margin-bottom: 200px;
  }
}

/* Navbar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #faf2e8;
  font-family: Helvetica, sans-serif;
}

.logo_2 {
  width: 85%;
  height: auto;
  display: block;
  padding-left: 20px;
  margin-right: 0;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.centered-content {
  display: flex;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  padding: 10px;
  color: #2b465e;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  margin-top: 4rem;
}

.menu a:hover {
  color: #dab24f;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #2b465e;
  margin-bottom: 5px;
}

.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .logo {
    width: 55%;
    padding-left: 10px;
  }
  .menu {
    display: none;
  }

  .burger {
    display: block;
    padding-left: 10px;
  }

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  nav.active .menu {
    display: block;
    background-color: #faf2e8;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 16px;
  }
}
/* Line */

.separator {
  width: 100vw;
  border-top: 5px solid #2b465e;
  /*  margin: 20px 0; */
}

/* Grids */

.wrapper {
  display: grid;
  justify-content: center;
}
